@tailwind base;
@tailwind components;
@tailwind utilities;

@import "https://js.arcgis.com/calcite-components/3.2.1/calcite.css";
@import "https://js.arcgis.com/4.33/@arcgis/core/assets/esri/themes/light/main.css";
@import "https://js.arcgis.com/4.33/map-components/main.css";

/* Map style */
html,
body {
    height: 100%;
    margin: 0;
}

.green-chip {
    --calcite-chip-background-color: green;
    --calcite-chip-text-color: white;
}

.green-chip:hover {
    --calcite-chip-text-color: black;
}

.night-chip {
    --calcite-chip-background-color: blue;
    --calcite-chip-text-color: white;
}

.night-chip:hover {
    --calcite-chip-text-color: black;
}

.holistic-chip {
    --calcite-chip-background-color: purple;
    --calcite-chip-text-color: white;
}

.holistic-chip:hover {
    --calcite-chip-text-color: black;
}